In [2]:
import pandas as pd

In [3]:
d = pd.read_csv('Diet_R.csv', sep = ',')
print(d)

    Person gender  Age  Height  pre.weight  Diet  weight6weeks
0       25          41     171          60     2          60.0
1       26          32     174         103     2         103.0
2        1      0   22     159          58     1          54.2
3        2      0   46     192          60     1          54.0
4        3      0   55     170          64     1          63.3
..     ...    ...  ...     ...         ...   ...           ...
73      74      1   35     183          83     3          80.2
74      75      1   49     177          84     3          79.9
75      76      1   28     164          85     3          79.7
76      77      1   40     167          87     3          77.8
77      78      1   51     175          88     3          81.9

[78 rows x 7 columns]

In [4]:
statystyki = d.describe()
statystyki

          Person        Age      Height  pre.weight       Diet  weight6weeks
count  78.000000  78.000000   78.000000   78.000000  78.000000     78.000000
mean   39.500000  39.153846  170.820513   72.525641   2.038462     68.680769
std    22.660538   9.815277   11.276621    8.723344   0.812920      8.924504
min     1.000000  16.000000  141.000000   58.000000   1.000000     53.000000
25%    20.250000  32.250000  164.250000   66.000000   1.000000     61.850000
50%    39.500000  39.000000  169.500000   72.000000   2.000000     68.950000
75%    58.750000  46.750000  174.750000   78.000000   3.000000     73.825000
max    78.000000  60.000000  201.000000  103.000000   3.000000    103.000000

In [5]:
statystyki2 = d.groupby('gender').describe()
statystyki2

       Person                                                         Age  \
        count       mean        std   min    25%   50%    75%   max count
gender
          2.0  25.500000   0.707107  25.0  25.25  25.5  25.75  26.0   2.0
0        43.0  33.930233  21.791649   1.0  11.50  34.0  55.50  66.0  43.0
1        33.0  47.606061  22.149971  15.0  23.00  47.0  70.00  78.0  33.0

                   ... Diet      weight6weeks                              \
             mean  ...  75%  max        count       mean        std   min
gender             ...
        36.500000  ...  2.0  2.0          2.0  81.500000  30.405592  60.0
0       39.116279  ...  3.0  3.0         43.0  63.223256   6.150874  53.0
1       39.363636  ...  3.0  3.0         33.0  75.015152   4.629398  66.8


          25%   50%    75%    max
gender
        70.75  81.5  92.25  103.0
0       59.75  62.4  67.50   81.1
1       71.60  73.9  79.10   84.5

[3 rows x 48 columns]

In [8]:
statystyki.to_csv('statystyki.csv', header = True)

In [9]:
statystyki2.to_csv('statystyki.csv', header = True)